# Ignore To-Do list and miscellaneous files.
/TODO.txt
/APACHE_LICENSE

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore test test files
/tests
/full-stack-fastapi-template
/test_report.html
/Full_Stack_FastAPI_Project_hAPI_report.*
html_report.html